* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.app {
  background-image: url('https://files.wallpaperpass.com/2019/10/gravity%20falls%20wallpaper%20037%20-%201200x2134-768x1366.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.search {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.6;
  font-weight: 600;
  color: rgb(143, 143, 143);
}

.search:focus {
  opacity: 1;
}

.location {
  font-size: 2rem;
  font-weight: 700;
}

.temperature {
  font-size: 4rem;
  font-weight: 500;
}

.condition,
.date-time {
  font-size: 1rem;
  font-weight: 500;
}

.others {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.other-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
