* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

i {
  position: absolute;
  background: linear-gradient(#000, #fff);
  height: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: effect infinite linear 5s;
}

i:nth-child(3n + 1) {
  background: linear-gradient(transparent, rgb(235, 29, 29));
}

i:nth-child(3n + 2) {
  background: linear-gradient(transparent, rgb(228, 29, 235));
}

i:nth-child(3n + 3) {
  background: linear-gradient(transparent, rgb(34, 235, 8));
}

@keyframes effect {
  0% {
    transform: translateY(-200px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(calc(100vh + 200px));
    opacity: 1;
  }
}
