* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: rgb(105, 105, 105);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  width: 30rem;
  min-height: 10rem;
}

.main {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tags-cover {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  background-color: aquamarine;
  padding: 0.4rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.remove {
  font-size: 1.6rem;
  cursor: pointer;
}

.input {
  border: none;
  font-size: 1.4rem;
}

.input:focus-visible {
  outline: none;
}

button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: gray;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
