* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #caf0f8;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  width: 200px;
  height: 200px;
  border: 5px solid #90e0ef;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 100%;
  height: 100%;
  background-image: url('https://static.wikia.nocookie.net/disney/images/7/7d/Profile_-_Waddles.png/revision/latest/top-crop/width/360/height/360?cb=20190319133843');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: grab;
}

.hide {
  display: none;
}

.drag-over {
  border: 5px dashed #03045e;
}
